<script type="module" crossorigin src="/admin/plugins/unifi_presence/assets/main-542444cd.js"></script>
<link rel="stylesheet" href="/admin/plugins/unifi_presence/assets/build-ebc0af1d.css">
<div id="unifiPresence"></div>


