<TMPL_IF FORM_SETTINGS>
	<!-- Form SETTINGS -->
	<form id="form" onsubmit="return false;">

        <div class="wide"><TMPL_VAR UNIFI.CONTROLLER></div>
        <br>

        <div data-role="fieldcontain" class="main_ipaddress_block">
            <label for="Main.ipaddress"><TMPL_VAR UNIFI.IP></label>
            <input name="Main.ipaddress" id="Main.ipaddress" type="text" />
            <p class="hint"><TMPL_VAR UNIFI.IP_HINT></TMPL_VAR></p>
        </div>
        <div data-role="fieldcontain" class="main_username_block">
            <label for="Main.username"><TMPL_VAR UNIFI.USERNAME></label>
            <input name="Main.username" id="Main.username" type="text" />
        </div>
        <div data-role="fieldcontain" class="main_password_block">
            <label for="Main.password"><TMPL_VAR UNIFI.PASSWORD></label>
            <input name="Main.password" id="Main.password" type="password" />
            <p class="hint"><TMPL_VAR UNIFI.LOGIN_HINT></TMPL_VAR></p>
        </div>
    </form>
</TMPL_IF>

<TMPL_UNLESS FORM_DISABLE_BUTTONS>

	<div style="display:flex;align-items:center;justify-content:center;">
	    <button class="ui-btn ui-btn-icon-right" id="saveapply" data-inline="true">Save and Apply</button>
	    <button class="ui-btn ui-btn-icon-right" id="restartmqttgateway" data-inline="true">Restart</button>
	</div>
	<div style="display:flex;align-items:center;justify-content:center;">
		<span id="savemessages"></span>&nbsp;
	</div>

</TMPL_UNLESS>

<TMPL_UNLESS FORM_DISABLE_JS>
    <script>
        var cfg;
        var creds = { };
        var creds_changed = false;

        $(function() {

            // Parse config
            cfgstr = '<TMPL_VAR JSONCONFIG>';
            if (cfgstr) cfg = JSON.parse(cfgstr);

            // Elements in Main
            for(var elemname in cfg) {
                var inputType = $("#Main\\."+elemname).attr('type');
                if ( !inputType ) 
                    inputType = $("[name='Main\\."+elemname+"']").attr('type');
                
                // console.log("Element", elemname, cfg.Main[elemname], inputType);
                if(inputType == "checkbox") {
                    if( cfg.Main[elemname] == 1) 
                        $("#Main\\."+elemname).prop('checked', true);
                } 
                else if (inputType == "radio") {
                    $('input:radio[name="Main.'+elemname+'"]').filter('[value="'+cfg.Main[elemname]+'"]').attr("checked",true).checkboxradio("refresh");
                }
                else {
                    $("#Main\\."+elemname).val(cfg.Main[elemname]);
                }
            }
        });
    </script>
</TMPL_UNLESS>