<style>
    .hint {
        margin-left: 22%;
    }
    .lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin: -10px 0 0 -10px;  
	}
    .lb_flex-item-label {
        width: 22%;
        min-width: 22%;
    }

    .client-table {
		/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
		border-collapse: collapse;
		width: 100%;
	}

	.client-table td, .client-table th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	.client-table tr:nth-child(even){background-color: #f2f2f2;}

	.client-table tr:hover {background-color: #ddd;}

	.client-table th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #6dac20;
		color: white;
		text-shadow: 1px 1px #333333;
	}
    .client-table--data {
		word-break: break-all;
		width: 35%;
    }
    #clientList {
        display: none;
    }
</style>
<TMPL_IF MQTTGATEWAY_INSTALLED>
    <TMPL_IF FORM_SETTINGS>
        <!-- Form SETTINGS -->
        <form id="form" onsubmit="saveUnifi()">

            <div class="wide"><TMPL_VAR UNIFI.CONTROLLER></div>
            <br>

            <div data-role="fieldcontain" class="main_topic_block">
                <label for="Main_topic"><TMPL_VAR UNIFI.TOPIC></label>
                <input name="Main_topic" id="Main_topic" type="text" data-validation-error="<TMPL_VAR VALIDATION.TOPIC_ERROR>" data-validation-rule="^[\w]+((\/[\w]+)+)?$">
                <p class="hint"><TMPL_VAR UNIFI.TOPIC_HINT></p>
            </div>
            <div data-role="fieldcontain" class="main_ipaddress_block">
                <label for="Main_ipaddress"><TMPL_VAR UNIFI.IP></label>
                <input name="Main_ipaddress" id="Main_ipaddress" type="text" data-validation-error="ERR" data-validation-rule="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" />
                <p class="hint"><TMPL_VAR UNIFI.IP_HINT></p>
            </div>
            <div data-role="fieldcontain" class="main_username_block">
                <label for="Main_username"><TMPL_VAR UNIFI.USERNAME></label>
                <input name="Main_username" id="Main_username" type="text" />
            </div>
            <div data-role="fieldcontain" class="main_password_block">
                <label for="Main_password"><TMPL_VAR UNIFI.PASSWORD></label>
                <input name="Main_password" id="Main_password" type="password" />
                <p class="hint"><TMPL_VAR UNIFI.LOGIN_HINT></p>
            </div>

            
            <div class="lb_flex-container Main">
			    <div class="lb_flex-item-label">&nbsp;</div>
                <div class="lb_flex-item-spacer"></div>
                <div class="lb_flex-item">
                    <div id="2FA" style="display: none;">
                        <label for="Main_password"><TMPL_VAR UNIFI.2FA></label>
                        <input type="text" name="2FA" id="Main_2FA" />
                    </div>
                    <a href="javascript:saveUnifi();" id="btnsavemqtt" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check" 
                            data-transition="flow"><TMPL_VAR COMMON.SAVE_BTN></a>
                    <div class="hint" id="unifi_hint">&nbsp;</div>
                </div>
                <div class="lb_flex-item-spacer"></div>
                <div class="lb_flex-item-help hint"></div>
                <div class="lb_flex-item-spacer"></div>
			</div>
			
		
            <div class="wide"><TMPL_VAR UNIFI.CLIENTS></div>
            <br>

            <div id="noClients">
                <h4><TMPL_VAR UNIFI.NO_CLIENTS></h4>
            </div>
            <div id="clientList">
                <p><TMPL_VAR UNIFI.CLIENT_SELECTION></p>
                <table class="client-table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><TMPL_VAR UNIFI.NAME></th>
                            <th><TMPL_VAR UNIFI.MAC></th>
                            <th><TMPL_VAR UNIFI.IP></th>
                            <th><TMPL_VAR UNIFI.SSID></th>
                            <th><TMPL_VAR UNIFI.EXPERIENCE></th>
                            <th><TMPL_VAR UNIFI.TYPE></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>

    </TMPL_IF>
<TMPL_ELSE>
    <div class="wide"><TMPL_VAR UNIFI.CONTROLLER></div>
    <h4><TMPL_VAR UNIFI.NEED_MQTT></h4>
    
</TMPL_IF>


<script>
var cfg;
var creds = { };
var creds_changed = false;
let existingClients = [];

let allClients = [];

$(function() {


    validate_enable('#Main_topic');
    validate_enable('#Main_ipaddress');

    // Parse config
    cfgstr = '<TMPL_VAR JSONCONFIG>';
    if (cfgstr) cfg = JSON.parse(cfgstr);

    if (null == cfg.clients) {
        cfg.clients = [];
    } 
    existingClients = cfg.clients.map(client => client.mac);
    // Elements in Main
    for(var elemname in cfg) {
        var inputType = $("#Main_"+elemname).attr('type');
        $("#Main_"+elemname).val(cfg[elemname]);
    }

    let clients = '<TMPL_VAR CLIENTS>';
    if (clients) {
        allClients = JSON.parse(clients);
        allClients = sortClients(allClients);
        
        renderClients();    
    }
});

function sortClients(clients) {
    return clients.sort((a, b) => {
        if (existingClients.includes(a.mac)) return -1;
        if (existingClients.includes(b.mac)) return 1;
        if (a.name < b.name) return -1;
        if (a.name > b.name) return 1;
        return 0;
    });
}

function renderClients() {
    $('#noClients').css('display', 'none');
    $('#clientList').css('display', 'block');

    allClients.forEach(client => {
        const selected = existingClients.includes(client.mac);
        const row = `<tr>
            <td>
                <select onchange="clientSelection('${client.mac}')" id="${client.mac.replaceAll(':', '')}" name="${client.mac.replaceAll(':', '')}" data-role="flipswitch">
                    <option ${selected ? '': 'selected="selected"'} value="0">Aus</option>
                    <option value="1" ${selected ? 'selected="selected"' : ''}">Ein</option>
                </select>
            </td>
            <td class="client-table--data">${client.name}</td>
            <td class="">${client.mac}</td>
            <td class="">${client.ip || ''}</td>
            <td class="">${client.ssid || ''}</td>
            <td class="">${client.experience ? client.experience + '%' : ''}</td>
            <td class="">${client.type}</td>
            </tr>`;
        $('#clientList table tbody').append(row);
        $(`select[name=${client.mac.replaceAll(':', '')}]`).flipswitch();
        
    });

}

function clientSelection(mac) {
    
    const client = allClients.find(client => client.mac === mac);
    if (existingClients.includes(mac)) {
        existingClients = existingClients.filter(m => m != mac);
        cfg.clients = cfg.clients.filter(client => client.mac != mac);
    } else {
        cfg.clients.push(client);
        existingClients.push(mac);
    }

    $.ajax({
        type: 'POST',
        data: {
            ajax: 'saveclients',
            clients: JSON.stringify(cfg.clients)
        }
    }).fail(data => {
        console.log('saving failed', data);
    })
}

// Save Unifi Settings
function saveUnifi() {

    const topic = $('#Main_topic'); 
    const ipAddress = $('#Main_ipaddress');
    const username = $('#Main_username');
    const password = $('#Main_password');
    const twoFa = $('#2FA');
    const topicValid = new RegExp(topic.data('validation-rule')).test(topic.val());
    const ipValid = new RegExp(ipAddress.data('validation-rule')).test(ipAddress.val());

    if (!topicValid || !ipValid) return false;

    const data = { 
        ajax: 'savesettings',
        topic: topic.val(),
        ipaddress: ipAddress.val(),
        username: username.val(),
        password: password.val()
    };

    
    if (twoFa.css('display') === 'block') {
        data.token = $('#Main_2FA').val();
        twoFa.css('display', 'none');
        $('#Main_2FA').val('');
    }

	$("#unifi_hint").attr("style", "color:blue").html("<TMPL_VAR COMMON.HINT_SAVE_SAVING>");
	console.log ("Saving",ipAddress.val(), username.val(), topic.val());
    
	$.ajax( {type: 'POST', data})
	.fail(function( data ) {

        console.log( "saving failed", data );
        $("#unifi_hint").attr("style", "color:red").html("<TMPL_VAR COMMON.HINT_SAVE_ERROR>: " + data.error);
	})
	.done(function( data ) {
        if(null === data.error) {
		    console.log( "save Success: ", data );
		    $("#unifi_hint").attr("style", "color:green").html("<TMPL_VAR COMMON.HINT_SAVE_OK>");
        } else if (data.error === '2FA') {
            twoFa.css('display', 'block');
            $("#unifi_hint").attr("style", "color:red").html("<TMPL_VAR COMMON.HINT_SAVE_2FA>:");
            return;
        } else {
            console.log( "saving failed", data );
		    $("#unifi_hint").attr("style", "color:red").html("<TMPL_VAR COMMON.HINT_SAVE_ERROR>: "+data.error);
        }

        if(data.clients) {
            allClients = data.clients;
            
            renderClients();
        }
	})
	.always(function( data ) {
		console.log( "save Finished" );
	});
}
</script>